
@{
    ViewBag.Title = "民国记忆";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/theme.css" rel="stylesheet" />
}

    <div class="container">
        <div id="banner">
            <img src="~/Images/theme-noback.png">
        </div>
        <!-- 梨园瑰宝 -->
        <div class="row cluster" id="first">
            <div class="col-md-12">
                <h1><span></span> 梨园瑰宝</h1>
                <i class="icons-quote" style="float:left"></i><p>
                    中华民国是中国戏曲艺术发展的一个重要历史阶段。这不仅仅是因为这一阶段正处于中国社会发展史的“近代”与“当代”衔接，是与当代艺术家最为“亲近”的历史时期，而是因为这一历史时期由于半封建半殖民地社会制度的结束，民主主义思潮的影响和推动，中国戏曲艺术在表演形式和内容方面，经历了由“旧戏”向“新戏”、“封建戏”向“文明戏”的转折。在表演主体戏曲艺人方面，经历了由“戏子”向“艺员”、“民间艺人”向“表演艺术家”的转变。
                </p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/梅兰芳-1.jpg">
                                <h3>梅兰芳</h3>
                                <h5>旦角</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/杨小楼-1.jpg">
                                <h3>杨小楼</h3>
                                <h5>武生</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/余叔岩-1.jpg">
                                <h3>余叔岩</h3>
                                <h5>老生</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/孟小冬-1.jpg">
                                <h3>孟小冬</h3>
                                <h5>老生</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 名媛影星 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 名媛影星</h1>
                <i class="icons-quote" style="float:left"></i><p>她们是以演技和美貌深得人心的电影演员，留在世间的影像让她们流芳百世，但同样，美貌也给她们带去了平凡女人所不能触及的苦难。民国这段乱世岁月里，她们或生自盛世豪门，身价矜贵无比，或拥有绝代风华，魅力无人能及；或才情千万，傲然自立，或人生绚丽璀璨，故事曲折离奇。这些奇女子追求自由，敢爱敢恨。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/胡蝶-1.jpg">
                                <h3>胡蝶</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/阮玲玉-1.jpg">
                                <h3>阮玲玉</h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/周璇-1.jpg">
                                <h3>周璇</h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/徐来-1.jpg">
                                <h3>徐来</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 才女佳人 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 才女佳人</h1>
                <i class="icons-quote" style="float:left"></i><p>在那个政治与思想极为动荡的年代，其间各色人物轮流登场，或改换门庭，或散逸江湖。当时的中国，古典气质还未褪去，现代的风情刚刚演绎，一切都是精致而新鲜的。曾经用双手摇摇篮的女性，已经开始运用自己独立的思维来颠覆这个传统的世界了。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/吕碧城-1.jpg">
                                <h3>吕碧城</h3>
                                <h5>教育先驱</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/林徽因-1.jpg">
                                <h3>林徽因</h3>
                                <h5>建筑师</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陆小曼-1.jpg">
                                <h3>陆小曼</h3>
                                <h5>画家</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张爱玲-1.jpg">
                                <h3>张爱玲</h3>
                                <h5>作家</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 实业救国 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 实业救国</h1>
                <i class="icons-quote" style="float:left"></i><p>辛亥革命之后，虽然中国始终处于军阀混战割据的局面，但在夹缝之中，中国的民族工业依然顽强的发展起来。其中，投资小、见效快的轻工业发展尤其迅速，例如面粉业、纺织业、化工业、皮革业、烟草业等等。一时间也涌现出了许多“面粉大王”、“棉纺大王”等民族资本家。民族资产阶级企图通过发展实业来挽救民族危亡，为中国政治变革与思想革新提供了经济基础和阶级基础，对帝国主义经济侵略起了抵制作用，具有爱国主义的进步意义。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张謇-1.jpg">
                                <h3>张謇</h3>
                                <h5>棉纺织领域开拓者</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/范旭东-1.jpg">
                                <h3>范旭东</h3>
                                <h5>化学工业之父</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/卢作孚-1.jpg">
                                <h3>卢作孚</h3>
                                <h5>航运业先驱</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/荣宗敬-1.jpg">
                                <h3>荣宗敬</h3>
                                <h5>面粉、棉纱大王</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 士官三杰 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 士官三杰</h1>
                <i class="icons-quote" style="float:left"></i><p>他们都是日本士官学校第三期毕业，于三百余名日本毕业生中，分别考取前三名，获赠日本天皇的军刀，以致日本人羞怒交加。从此以后，日本陆军士官学校规定中国留学生必须与日本学生分开授课，以免同样场面重演。</p>
                <div class="clearfix"></div>
                <div class="row unfill" style="">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/蒋百里-1.jpg">
                                <h3>蒋百里</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/蔡锷-1.jpg">
                                <h3>蔡锷</h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张孝准-1.jpg">
                                <h3>张孝准</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 北洋军阀 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 北洋军阀</h1>
                <i class="icons-quote" style="float:left"></i><p>中华民国建立后，袁世凯窃取革命成果，成为中国现代军阀之祖。继之，大小军阀粉墨登场，拥兵自重，为抢夺地盘和各自利益大打出手，混战一团，狼烟四起。张作霖、段祺瑞、吴佩孚、孙传芳、陆荣廷、龙云、刘湘、盛世才、马鸿逵、马步芳，其中有他们善用计谋的一面，也有阴险狡诈的一面，有他们令人不耻的故事，也有不曾公开的秘闻。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/段祺瑞-1.jpg">
                                <h3>段祺瑞</h3>
                                <h5>皖系</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张作霖-1.jpg">
                                <h3>张作霖</h3>
                                <h5>奉系</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/冯国璋-1.jpg">
                                <h3>冯国璋</h3>
                                <h5>直系</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/吴佩孚-1.jpg">
                                <h3>吴佩孚</h3>
                                <h5>直系</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/孙传芳-1.jpg">
                                <h3>孙传芳</h3>
                                <h5>直系</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/唐继尧-1.jpg">
                                <h3>唐继尧</h3>
                                <h5>滇系</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陆荣廷-1.jpg">
                                <h3>陆荣廷</h3>
                                <h5>桂系</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/阎锡山-1.jpg">
                                <h3>阎锡山</h3>
                                <h5>晋系</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 青帮大亨 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 青帮大亨</h1>
                <i class="icons-quote" style="float:left"></i><p>民国时期，上海属于最繁华也是最复杂的大都市，各方势力暗潮涌动。上海滩有三名出生于社会底层却成为威震一时的人物，号称“青帮三巨头”。随着世道变迁，“三大亨”最终都走向了穷途末路。</p>
                <div class="clearfix"></div>
                <div class="row unfill">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/黄金荣-1.jpg">
                                <h3>黄金荣</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/杜月笙-1.jpg">
                                <h3>杜月笙</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张啸林-1.jpg">
                                <h3>张啸林</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 军统中统 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 军统中统</h1>
                <i class="icons-quote" style="float:left"></i><p>军统和中统都是特务组织，中统的工作重心是监控国民党机关内部情况，打击一切国民党之外的党派，控制社会舆论和思想。而军统属于国民党军队序列，主要任务是收集各类情报、对军队监视整治，对敌对势力逮捕暗杀。二者工作领域不同，中统的是党内，军统的是军中。其职责范围非常明确，收集到的情报和线索，如属于对方负责的范围，必须移交给对方接收。</p>

                <p style="margin-top:10px;">
                    中统和军统之间势同水火，没有一刻停止过明争暗斗。中统虽然名义上听从蒋介石指挥，却控制在陈立夫、陈果夫之手。而军统头子戴笠对蒋介石忠心耿耿，言听计从，工作原则就是“秉承领袖意旨，体验领袖苦心”。军统一切听命于蒋介石，蒋介石自然偏向军统，让中统和军统的矛盾日积月累，越来越深。
                    另一方面来说，蒋介石精于权术，明白中统和军统相互牵制，才能让他容易掌控，对许多矛盾睁一只眼闭一只眼，根本不想化解，这也是中统和军统纷争不断的一大原因。
                </p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/戴笠-1.jpg">
                                <h3>戴笠</h3>
                                <h5>军统</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/毛人凤-1.jpg">
                                <h3>毛人凤</h3>
                                <h5>军统</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/郑介民-1.jpg">
                                <h3>郑介民</h3>
                                <h5>军统</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/沈醉-1.jpg">
                                <h3>沈醉</h3>
                                <h5>军统</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陈果夫-1.jpg">
                                <h3>陈果夫</h3>
                                <h5>中统</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陈立夫-1.jpg">
                                <h3>陈立夫</h3>
                                <h5>中统</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/徐恩曾-1.jpg">
                                <h3>徐恩曾</h3>
                                <h5>中统</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/叶秀峰-1.jpg">
                                <h3>叶秀峰</h3>
                                <h5>中统</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 红色特工 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 红色特工</h1>
                <i class="icons-quote" style="float:left"></i><p>这是一个神秘的群体，他们以各种不同的身份，忍受着旁人甚至亲人的误解，潜伏在敌人身边。在与国民党中统、军统等谍报机关的长期较量中，他们在保卫党中央、铲除投敌内奸、策反蒋军起义、揭露敌人阴谋诸方面，以超人的智慧、顽强的意志和精妙的计谋，挫败了对手一次又一次的阴谋，为新中国的建立，立下了不可磨灭的奇功。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/钱壮飞-1.jpg">
                                <h3>钱壮飞</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/李克农-1.jpg">
                                <h3>李克农</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/胡底-1.jpg">
                                <h3>胡底</h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/熊向晖-1.jpg">
                                <h3>熊向晖</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/潘汉年-1.jpg">
                                <h3>潘汉年</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/张克侠-1.jpg">
                                <h3>张克侠</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/鲍君甫-1.jpg">
                                <h3>鲍君甫</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/李白-1.jpg">
                                <h3>李白</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 援华友人 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 援华友人</h1>
                <i class="icons-quote" style="float:left"></i><p>在中国人民进行抗日战争的艰苦岁月里，许多国际友人千里迢迢甚至远渡重洋来到中国，他们把支援中国抗战当作自己的职责，当作开展世界反法西斯战争的重要任务。所有这些都极大地鼓舞了中国人民，在中国人民抗日斗争史上留下了辉煌的篇章。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/史迪威-1.jpg">
                                <h3>史迪威</h3>
                                <h5>中国战区参谋长</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陈纳德-1.jpg">
                                <h3>陈纳德</h3>
                                <h5>空军顾问</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/白求恩-1.jpg">
                                <h3>白求恩</h3>
                                <h5>医生</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/柯棣华-1.jpg">
                                <h3>柯棣华</h3>
                                <h5>医生</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 血色苍穹 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 血色苍穹</h1>
                <i class="icons-quote" style="float:left"></i><p>曾经有那么一群年轻人，每一次起飞都可能是永别，每一次落地都必须感谢上苍。他们战斗在云霄，胜败只在一瞬之间。他们在人类最大的战争当中成长，别无选择，因此他们对飞行热爱，对天空的憧憬，还有那些国仇家恨，纵横捭阖，儿女情长，都必须化成命运的音符，奏响中华民国空军悲怆的战史。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/高志航-1.jpg">
                                <h3>高志航</h3>
                                <h5>王牌飞行员</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/刘粹刚-1.jpg">
                                <h3>刘粹刚</h3>
                                <h5>王牌飞行员</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/李桂丹-1.jpg">
                                <h3>李桂丹</h3>
                                <h5>王牌飞行员</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/乐以琴-1.jpg">
                                <h3>乐以琴</h3>
                                <h5>王牌飞行员</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 海魂国殇 -->
        <div class="row cluster">
            <div class="col-md-12">
                <h1><span></span> 海魂国殇</h1>
                <i class="icons-quote" style="float:left"></i><p>在近代中国发展海军以来，有那么一支被人们忽视的海军舰队。他们既没有清政府的大炮巨舰，也没有新中国海军大发展的辉煌，民国海军始终在为生存而战。但他们承前启后，既完结了清政府时期的甲午之耻，又为后来的新中国海军提供了不少元老军舰和富有经验的海军将领。民国海军同仇敌忾，四海一心，奋勇抗战，几乎全军覆没，可谓中华海魂。为了各自生存，民国海军多年处于互相对峙的状态，还背负着甲午国耻，可谓乱世国殇。</p>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/沈鸿烈-1.jpg">
                                <h3>沈鸿烈</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/萨镇冰-1.jpg">
                                <h3>萨镇冰</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陈绍宽-1.jpg">
                                <h3>陈绍宽</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="warpper">
                            <div class="content">
                                <img src="~/Images/人物图片/陈策-1.jpg">
                                <h3>陈策</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script>
        $(".col-md-3").click(function () {
            var name = $(this).find("h3").html();
            window.location = "http://" + window.location.host + "/Display/Detail/" + name;
        });
    </script>
}